@charset "UTF-8";
body {
  font-size: 14px;
  letter-spacing: -1px;
  line-height: 1.4;
  color: #fff;
  background-color: #000;
}
body.on {
  overflow: hidden;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}
.dimm {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 0;
  background: rgba(17, 17, 17, 0.8);
  transition: opacity 0.3s;
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
}
.dimm.on {
  opacity: 1;
  height: 100vh;
  z-index: 20;
}

.blind {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

.skip {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
}
.skip a {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  text-indent: -9999px;
}
.skip a:focus, .skip a:active {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
  padding: 10px 0;
  font-size: 15px;
  line-height: 14px;
  text-indent: 0;
  text-align: center;
  color: #fff;
  background: #444;
}

.wrapper {
  min-width: 280px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

input,
select,
textarea,
button,
table {
  border: none;
  background: none;
  font-size: 14px;
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

.point {
  color: #fbc1d4;
}

/* fade up effect s */
.fade-wrap.fade-up {
  overflow: hidden;
}

.fade-wrap.fade-up .fade-box.fadeUp {
  opacity: 1;
  transform: translateY(0);
}

.fade-wrap.fade-up .fade-box {
  opacity: 0;
  transform: translateY(100%);
  transition: all 1s;
}

/* fade up effect e */
/* custom cursor s - pc에서만 노출됨 */
@media screen and (min-width: 1024px) {
  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    margin: -1.5rem;
    background: #fff;
    border-radius: 50%;
    pointer-events: none;
    display: none;
    mix-blend-mode: difference;
    transition: scale 0.3s;
  }
  .cursor.pointer {
    scale: 3;
  }
  .cursor.pointer.type2 {
    scale: 3;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  .cursor.pointer.type2::after {
    content: "click";
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    text-align: center;
    font-size: 1rem;
    scale: 0.4;
    width: 100%;
  }
}
@media (any-pointer: fine) {
  .cursor {
    display: block;
    position: fixed;
    z-index: 1000;
  }
}
/* custom cursor e */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.4;
  overflow-wrap: break-word;
  word-break: break-word;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

address, em {
  font-style: normal;
}

fieldset {
  border: 0;
}

html {
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
}

iframe {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Moderniz";
  src: url("../font/Moderniz.woff") format("woff");
  font-weight: 700;
}
.header {
  position: fixed;
  z-index: 30;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
}

.inner-header {
  position: relative;
  height: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  mix-blend-mode: difference;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  font-family: "Moderniz", sans-serif;
}

.gnb-wrap {
  position: fixed;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background-color: #111;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: top 0.5s;
}
.gnb-wrap.open {
  top: 0;
}
.gnb-wrap .gnb {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: min(10vw, 80px);
  gap: 0.3em;
  font-family: "Moderniz", sans-serif;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.gnb-wrap .gnb li a {
  transition: color 0.3s ease-in-out;
}
.gnb-wrap .gnb li a:hover {
  color: #fbc1d4;
}

.gnb-btm span {
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;
}
.gnb-btm span.object01 {
  width: min(25vw, 300px);
  aspect-ratio: 698/1000;
  background-image: url("../images/icon-object01.png");
  right: 8vw;
  bottom: 0;
  rotate: 45deg;
}

.header-util {
  position: absolute;
  right: 20px;
}
.header-util .menu-btn {
  width: 24px;
  height: 24px;
}
.header-util .menu-btn .line {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: relative;
  top: -2px;
}
.header-util .menu-btn .line::before, .header-util .menu-btn .line::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
}
.header-util .menu-btn .line::before {
  top: -7px;
}
.header-util .menu-btn .line::after {
  bottom: -7px;
}
.header-util .menu-btn.on .line {
  background-color: transparent;
}
.header-util .menu-btn.on .line::before {
  transform: rotate(-45deg);
  top: 0;
}
.header-util .menu-btn.on .line::after {
  transform: rotate(45deg);
  bottom: 0;
}

@media (min-width: 768px) {
  .logo {
    font-size: 32px;
  }
  .header-util .menu-btn {
    width: 40px;
    height: 40px;
  }
  .header-util .menu-btn .line {
    height: 3px;
  }
  .header-util .menu-btn .line::before, .header-util .menu-btn .line::after {
    height: 3px;
  }
  .header-util .menu-btn .line::before {
    top: -11px;
  }
  .header-util .menu-btn .line::after {
    bottom: -11px;
  }
}
@media (min-width: 1200px) {
  .header {
    height: 85px;
  }
}
.footer {
  margin-top: auto;
  background-color: #000;
  position: relative;
}
.footer .inner {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 60px 20px 14px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contact-wrap p {
  font-weight: 700;
  font-size: max(7vw, 40px);
  font-family: "Moderniz", sans-serif;
  position: relative;
}
.contact-wrap p::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 10px;
  width: 0;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: width 0.4s;
}
.contact-wrap p:hover::after {
  width: 100%;
}
.contact-wrap .link-list {
  margin-top: 1em;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.contact-wrap .link-list a {
  transition: color 0.3s;
}
.contact-wrap .link-list a:hover {
  color: #fbc1d4;
}

.copyright {
  text-align: center;
}

@media (min-width: 1200px) {
  .contact-wrap p::after {
    height: 25px;
    bottom: 25px;
  }
}
.main-container {
  padding-top: 100vh;
}

.section .inner {
  padding: 6em 1.5em;
  height: 100%;
  margin: 0 auto;
}

.section-tit {
  font-family: "Moderniz", sans-serif;
  font-weight: 700;
  font-size: 9vw;
}

.contents-wrap {
  position: relative;
  background-color: #000;
}

@media (min-width: 768px) {
  .section-tit {
    font-size: min(5vw, 80px);
  }
}
@media (min-width: 1024px) {
  .section .inner {
    max-width: 90vw;
  }
}
.visual {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.video-wrap {
  width: 100%;
  height: 100vh;
  position: relative;
}
.video-wrap video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.4;
}
.video-wrap h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 100%;
  text-align: center;
  padding: 0 18px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    translate: -50% 0;
  }
  100% {
    opacity: 1;
    translate: -50% -50%;
  }
}
.about .inner {
  padding: 10em 1em;
}

.about-wrap h3 {
  margin-bottom: 18px;
}
.about-wrap .about-list {
  display: flex;
  flex-direction: column;
}
.about-wrap .about-list > li {
  display: flex;
  flex-direction: column;
  padding: 2em 0;
  word-break: keep-all;
}
.about-wrap .about-list > li p {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.about-wrap .about-list > li span {
  font-size: 1.1em;
}

.project-wrap {
  position: relative;
}

.project-box {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.project-box .cont {
  height: 100%;
}
.project-box .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.project-box .img-box {
  height: 100%;
}
.project-box .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-box .text-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.project-box .text-box .title {
  padding: 0 10px;
  font-size: 2.8em;
  font-family: "Moderniz", sans-serif;
  text-align: center;
  margin-bottom: 0.5em;
  word-break: keep-all;
  line-height: 1;
}
.project-box .text-box .summary {
  text-align: center;
  color: #bbb;
  word-break: keep-all;
  font-size: 1.2em;
}
.project-box .text-box .summary .exclam {
  color: #fff;
}
.project-box .text-box .link-list {
  display: flex;
  gap: 1em;
}
.project-box .text-box .link-list a {
  width: 90px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: block;
  padding: 4px 20px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid transparent;
  transition: border 0.3s;
}
.project-box .text-box .link-list a:hover {
  border: 1px solid #fbc1d4;
}
.project-box .text-box .label {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em 1em;
}
.project-box .text-box .label > li:first-child {
  width: 100%;
}
.project-box .text-box .label > li:not(:first-child) {
  color: #bbb;
}

@media (min-width: 768px) {
  .project-box .text-box .title {
    font-size: 4em;
  }
}
@media (min-width: 1024px) {
  .project-box .text-box .title {
    font-size: 6em;
  }
}
.project-list {
  margin-top: 2em;
}
.project-list > li {
  padding: 2em 0;
  border-bottom: 1px solid #666;
  transition: padding 0.4s ease-out, background-color 0.3s;
}
.project-list .index {
  display: block;
  padding-bottom: 0.8em;
}
.project-list .project-title {
  font-size: 1.7em;
  font-weight: 700;
}
.project-list .text-box {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  margin: 0.8em 0;
  font-size: 1.14em;
}
.project-list .label {
  font-size: 14px;
  color: #bbb;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
}
.project-list .label > li:first-child {
  width: 100%;
}
@media (min-width: 1024px) {
  .project-list .project-list > li {
    padding: 2em;
  }
  .project-list .project-list > li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    padding-left: 6em;
  }
}

.sub-text {
  padding: 1em 0;
}/*# sourceMappingURL=style.css.map */