@import "../util/mixin";
@import "../util/variables";

.main-container {
  padding-top: 100vh;
}

.section {
  .inner {
    padding: 3em 1em;
    height: 100%;
  }
}
.section-tit {
  font-family: $moderniz;
  font-weight: 700;
  font-size: 9vw;
}

.contents-wrap {
  position: relative;
  background-color: $black;
}

@include tablet{
  .section-tit {
    font-size: min(5vw, 80px);
  }
}

// section visual
.visual {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

}
.video-wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
  }

  h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 100%;
    text-align: center;
    padding: 0 18px;
  }
}

  
// section about
.about-wrap {
  h3 {
    margin-bottom: 18px;
  }


}

