@import "../util/mixin";
@import "../util/variables";

.main-container {
  padding-top: 100vh;
}

.section {
  .inner {
    padding: 6em 1.5em;
    height: 100%;
    margin: 0 auto;
  }
}
.section-tit {
  font-family: $moderniz;
  font-weight: 700;
  font-size: 10vw;
}

.contents-wrap {
  position: relative;
  background-color: $black;
}

@include tablet {
  .section-tit {
    font-size: min(5vw, 80px);
  }
}

@include sdesktop {
  .section {
    .inner {
      max-width: 90vw;
    }
  }
}

// section visual
.visual {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.video-wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
  }

  h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 100%;
    text-align: center;
    padding: 0 18px;
    animation: fadeIn 1s ease-in-out;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    translate: -50% 0;
  }

  100% {
    opacity: 1;
    translate: -50% -50%;
  }
}

// section about
.about {
  .inner {
    padding: 10em 1em;
  }
}
.about-wrap {
  h3 {
    margin-bottom: .2em;
  }

  h4 {
    margin-bottom: 18px;
    font-size: 1.3em;
  }

  .about-list {
    display: flex;
    flex-direction: column;
    > li {
      display: flex;
      flex-direction: column;
      padding: 2em 0;
      word-break: keep-all;
      p {
        font-size: 2.2em;
        font-weight: 700;
        margin-bottom: 0.5em;
      }

      span {
        font-size: 1.1em;
      }
    }
  }
}

.skill-list {
  display: flex;
  gap: 1em;
  margin-top: 2em;
  img {
    transition: translate .3s;
    translate: 0 0;
  }
}

@include tablet {
  .skill-list {
    img {
      width: 36px;
      height: 36px;
    }
  }
}


@include tablet {
  .skill-list {
    img {
      width: 48px;
      height: 48px;
      &:hover {
        translate: 0 -1em;
      }
    }
  }
}




// section personal
.project-wrap {
  position: relative;
}

.project-box {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  .cont {
    height: 100%;
  }

  .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }

  .img-box {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    .title {
      padding: 0 10px;
      font-size: 2.8em;
      font-family: $moderniz;
      text-align: center;
      margin-bottom: 0.5em;
      word-break: keep-all;
      line-height: 1;
    }

    .summary {
      text-align: center;
      color: #bbb;
      word-break: keep-all;
      font-size: 1.2em;
      .exclam {
        color: #fff;
      }
    }

    .link-list {
      display: flex;
      gap: 1em;
      a {
        width: 90px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(5px);
        display: block;
        padding: 4px 20px;
        border-radius: 5px;
        text-align: center;
        border: 1px solid transparent;
        transition: border 0.3s;
        &:hover {
          border: 1px solid $point-color;
        }
      }
    }

    .label {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0.3em 1em;
      > li {
        &:first-child {
          width: 100%;
          text-align: center;
        }
        &:not(:first-child) {
          color: #bbb;
        }
      }
    }
  }
}

@include tablet {
  .project-box {
    .text-box {
      .title {
        font-size: 4em;
      }

      .label {
        > li {
          &:first-child {
            width: fit-content;
          }
        }
      }
    }
  }
}

@include sdesktop {
  .project-box {
    .text-box {
      .title {
        font-size: 6em;
      }
    }
  }
}

// section project
.project-list {
  margin-top: 2em;
  > li {
    background-color: $black;
    border-bottom: 1px solid #666;
    transition: background-color 0.3s;
    > a {
      display: block;
      padding: 2em 0;
      transition: padding 0.4s ease-out;
    }
  }

  .index {
    display: block;
    padding-bottom: 0.8em;
  }
  .project-title {
    font-size: 1.7em;
    font-weight: 700;
  }

  .text-box {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    margin: 0.8em 0;
    font-size: 1.14em;
  }

  .label {
    font-size: .9em;
    color: #bbb;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
    > li {
      &:first-child {
        width: 100%;
      }
    }
  }
}
@include sdesktop {
  .project-list {
    > li > a {
      padding: 2em;
    }
    > li:hover {
      background-color: rgba(255, 255, 255, 0.2);
      a {
        padding-left: 6em;
      }
    }
  }
}
.sub-text {
  padding: 1em 0;
}

.underline {
  position: relative;
  &::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 0;
    bottom: 2px;
  }
}


// section goal
.goal {
  .section-tit {
    text-align: center;
  }
}
.goal-wrap {
  margin-top: 2em;
  .text-box {
    font-size: 1.2em;
    text-align: center;
    color: #bbb;
    .exclam {
      color: #fff;
    }
  }
  
  .bg-box {
    background: url("../img/icon-object04.png");
  }
}