@import "../util/mixin";
@import "../util/variables";

.footer {
  margin-top: auto;
  padding: 60px 20px 14px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: $black;
  position: relative;
}

.contact-wrap {
  p {
    font-weight: 700;
    font-size: max(7vw, 40px);
    font-family: $moderniz;
  }

  .link-list {
    margin-top: 1em;
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
}

.copyright {
    text-align: center;
}
