@import "../util/mixin";
@import "../util/variables";

.footer {
  margin-top: auto;
  background-color: $black;
  position: relative;

  .inner {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 60px 20px 14px;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

.contact-wrap {
  p {
    font-weight: 700;
    font-size: max(7vw, 40px);
    font-family: $moderniz;
    position: relative;
    text-align: center;
  }

  .link-list {
    margin-top: 1em;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    a {
      transition: color .3s;
      &:hover {
        color: $point-color;
      }
    }
  }
}

.copyright {
  text-align: center;
}