@import "../util/mixin";
@import "../util/variables";

.header {
  position: fixed;
  z-index: 30;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
}

.inner-header {
  position: relative;
  height: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  font-family: $moderniz;
  mix-blend-mode: difference;
  line-height: 1;
}

.gnb-wrap {
  position: fixed;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background-color: #111;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: top 0.5s;
  &.open {
    top: 0;
  }
  .gnb {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: min(10vw, 80px);
    gap: 0.3em;
    font-family: $moderniz;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    li {
      position: relative;
      bottom: 0;
      opacity: 0;
      a {
        transition: color 0.3s ease-in-out;
        &:hover {
          color: $point-color;
        }
      }
    }
  }
}

.gnb-btm {
  span {
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    &.object01 {
      width: min(25vw, 300px);
      aspect-ratio: 698 / 1000;
      background-image: url("../images/icon-object04.png");
      right: 8vw;
      bottom: 0;
      rotate: 45deg;
      opacity: 0;
    }
  }
}

.gnb-wrap.open {
  .gnb {
    > li {
      animation: gnb-ani .5s ease-in forwards;
      &:nth-child(1) {animation-delay: .4s;}
      &:nth-child(2) {animation-delay: .6s;}
      &:nth-child(3) {animation-delay: .8s;}
    }
  }
  .gnb-btm {
    span.object01 {
      animation: gnb-ani 1s ease-in 1s forwards;
    }
  }
}

@keyframes gnb-ani {
  0% {
    opacity: 0;
    bottom: -40px;
  }

  100% {
    opacity: 1;
    bottom: 0;
  }
}

.header-util {
  position: absolute;
  right: 20px;

  .menu-btn {
    width: 24px;
    height: 24px;
    .line {
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      position: relative;
      top: -2px;
      &::before,
      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: 0.3s;
      }

      &::before {
        top: -7px;
      }

      &::after {
        bottom: -7px;
      }
    }
    &.on {
      .line {
        background-color: transparent;
        &::before {
          transform: rotate(-45deg);
          top: 0;
        }

        &::after {
          transform: rotate(45deg);
          bottom: 0;
        }
      }
    }
  }
}

@include tablet {
  .logo {
    font-size: 32px;
  }
  .header-util {
    .menu-btn {
      width: 40px;
      height: 40px;

      .line {
        height: 3px;
        &::before,
        &::after {
          height: 3px;
        }

        &::before {
          top: -11px;
        }

        &::after {
          bottom: -11px;
        }
      }
    }
  }
}

@include desktop {
  .header {
    height: 85px;
  }
}
