// font-family
@font-face {
  font-family: "Pretendard";
  src: url("../../font/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../font/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../font/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "PP Mori";
  src: url("https://db.onlinewebfonts.com/t/7e39d05fff188430a1cb860db9b38881.eot");
  src: url("https://db.onlinewebfonts.com/t/7e39d05fff188430a1cb860db9b38881.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/7e39d05fff188430a1cb860db9b38881.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/7e39d05fff188430a1cb860db9b38881.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/7e39d05fff188430a1cb860db9b38881.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/7e39d05fff188430a1cb860db9b38881.svg#PP Mori SemiBold")format("svg");
}
